# **Tugas 2 (Pipelines)**

## Import Database
Data yang digunakan adalah data Iris dengan nama kolom sepallength, sepal_w, petallength, petalwidth.

Database yang digunakan antara lain:


1.   PostgreSQL
2.   Elephant
3.   MySQL
4.   SQL Server

## Akses Database
Untuk mengakses semua database dapat menggunakan ngrok. di ngrok di setting TCP port dari masing-masing database. Agar ngrok bisa berjalan bersamaan, maka di ngrok.yml di tambahkan sebuah tunnel yang mewakili port database. Untuk codenya ada dibawah ini:
```
# This is formatted as code
tunnels:
  mysql:
    addr: 3306
    proto: tcp
  postgre:
    addr: 5432
    proto: tcp
```

Setelah itu mengakses databasenya sesuai dengan tcp yang muncul di ngrok. yang diganti adalah host dan portnya

## Get Data From DB


1.   PostgreSQL

    Untuk mengakses database PostgreSQL local menggunakan ngrok. kemudiian diquery untuk mendapatkan kolom yang ada didatabase PostgreSQL. kolom yang diambil merupakan kolom sepallength dari tabel iris. library yang digunakan untuk mengakses database ini yaitu import psycopg2.
2.   Elephant
   
    Untuk mengakses database Elephant yang ada di postgreSQL, menggunakan library import psycopg2. kemudian didalam library tersebut ada parameter yang harus dimasukkan. data yang diambil dari kolom sepal_w dari tabel iris.
3.   MySQL

    Untuk mengakses database MySQL menggunakan library mysql-connector. agar bisa diakses publik, dapat menggunakan ngrok. didalam parameter mysql.connector disetting host dan port sesuai ngrok yang disediakan. data yang diambil dari kolom petallength dari tabel iris.

4. CSV

  Karena SQL Server tidak dapat diakses oleh orchest, maka diganti dengan data CSV dengan kolom petalwidth dan class. untuk mengakses data CSV tersebut menggunakan library pandas.

## Merge Data
Untuk menggabungkan dataframe, disini menggunakan join dengan bantuan library pandas.

## Load Model
Model yang digunakan adalah KNN dan Naive Bayes Gaussian.

## Hasil Akurasi
Hasil Akurasi KNN = 0.9666666

Hasil Akurasi Naive Bayes = 1

## Implementasi Code

In [5]:
!pip install mysql-connector-python
!pip install psycopg2
!pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.9/dist-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.9/dist-packages (from mysql-connector-python) (3.19.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.9/dist-packages (2.9.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyodbc in /usr/local/lib/python3.9/dist-packages (4.0.35)

In [6]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
    host="localhost",
    port="3306",
    database="prosain{200411100086}",
    user="root",
    password=""
)
mycursor = mydb.cursor()
query = "SELECT petalwidth, class FROM iris_arff"
df = pd.read_sql(query, mydb)
df

DatabaseError: ignored

In [ ]:
import psycopg2
import pandas as pd

db = psycopg2.connect(
    database="prosain{200411100027}",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)

query = "SELECT petallength FROM iris"
df = pd.read_sql(query, db)
df

# cur = conn.cursor()
# cur.execute("SELECT * FROM iris")
# rows = cur.fetchall()
# for row in rows:
#     print(row)

In [ ]:
import psycopg2
import pandas as pd

db = psycopg2.connect(
    database="asjkoaod",
    user="asjkoaod",
    password="68LYjfbVjXsrzXYzWe9BH682o_GgABKp",
    host="floppy.db.elephantsql.com",
    port="5432"
)
query = "SELECT sepalwidth FROM iris"
df = pd.read_sql(query, db)
df
# cur = conn.cursor()
# cur.execute("SELECT sepal_w FROM iris")
# rows = cur.fetchall()
# for row in rows:
#     print(row)

In [ ]:
import pyodbc
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

for i in pyodbc.drivers():
  print(i)

# # server = 'LAPTOP-A7O76VJO\SQLEXPRESS' 
# # database = 'prosains200411100027' 

# cnxn = pyodbc.connect(r'Driver=SQL Server;Server=LAPTOP-A7O76VJO;Database=prosain200411100027;Trusted_Connection=yes;')  
# # cnxn = pyodbc.connect(r'Driver=ODBC Driver 17 for SQL Server;Server=LAPTOP-A7O76VJO;Database=prosain200411100027;Trusted_Connection=yes;')  
# cursor = cnxn.cursor()

# # select 26 rows from SQL table to insert in dataframe.
# query = "SELECT * FROM [prosain200411100027].[dbo].[iris]"
# pwcls = pd.read_sql(query, cnxn)
# print(pwcls.head())